.layout {
  display: flex;
  height: 100vh;
  background: #ffffff;
}

/* ================= SIDEBAR ================= */
.mini-sidebar {
  width: 90px;
  box-shadow: 0 0 10px 4px #00000015;
  background: #f8fafc;
  border: 1px solid #f8fafc;
  margin: 10px;
  border-radius: 14px;
  padding: 20px 15px 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo {
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
}

.logo img {
  width: 60px;
  height: 60px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.menu-item {
  min-width: 60px;
  padding: 12px 6px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  transition: 0.25s;

  .icon {
    width: 32px;
    height: 32px;
    opacity: 0.75;
  }

  .label {
    font-size: 10px;
    color: #6b7280;
  }

  &:hover {
    background: #e8f2ff;
  }

  &.active {
    background: #1e88ff;

    .icon {
      filter: brightness(0) invert(1);
      opacity: 1;
    }

    .label {
      color: #fff;
    }
  }
}

.side-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .mode-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 7px;
    border-bottom: 1px solid #d2d8e8;
  }
  .profile-btn {
  }
}

.menu-item.active {
  background: #e8f1ff;
  border-radius: 8px;

  .icon {
    filter: brightness(0) saturate(100%) invert(36%) sepia(93%) saturate(2532%) hue-rotate(204deg)
      brightness(101%) contrast(101%);
    /* icon ko‘k rangga aylanadi */
  }

  .label {
    color: #1a73e8;
  }
}

/* ================= MAIN ================= */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* ================= HEADER ================= */
.header_web {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
  height: 90px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.left-block {
  display: flex;
  flex-direction: column;

  .subtitle {
    font-size: 14px;
    color: #94a3b8;
  }

  .title {
    font-size: 32px;
    font-weight: 600;
    color: #2d3e50;
  }
}

.center-block {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f8f9ff;
  border-radius: 8px;
  padding: 2px;
  border: 1px solid #bdc8ff;
}

.pill {
  background-color: #eceefd;
  border-radius: 8px;
  padding: 10px 40px 10px 20px;
  display: inline-flex;
  align-items: center;
  width: auto;
  gap: 6px;
  border: 1px solid #d4dafa;

  .pill-title {
    font-size: 16px;
    color: #334155;
    font-weight: 600;
    margin-bottom: -2px;
  }

  .pill-desc {
    font-size: 12px;
    color: #69748b;
    font-weight: 400;
  }
}

.blue-btn {
  background: #1e88ff;
  border-radius: 10px;
  border: none;
  padding: 8px 15px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(30, 136, 255, 0.3);

  &:hover {
    background: #0d75e3;
  }
}

.right-block {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-box {
  display: flex;
  align-items: center;
  padding: 8px 18px;
  background: #f2f5fa;
  border-radius: 40px;
  gap: 12px;
  //min-width: 300px;
  border: 1px solid #d8dde5;

  input {
    border: none;
    outline: none;
    flex: 1;
    background: transparent;
    font-size: 14px;
  }

  i {
    color: #6b7280;
  }
}

.bell {
  font-size: 20px;
  color: #475569;
  cursor: pointer;

  &:hover {
    color: #1e88ff;
  }
}

/* ================= CONTENT ================= */
.content {
  flex: 1;
  overflow-y: auto;
  background: #ffffff;
}

.lang-wrapper {
  position: relative;
}

.lang-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
  background: #fff;

  .flag-icon {
    width: 20px;
    height: 20px;
    object-fit: cover;
  }
}

.lang-menu {
  position: absolute;
  top: 42px;
  right: 0;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 6px 0;
  width: 130px;
  z-index: 100;

  .lang-item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: 0.2s;

    .flag-icon {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: #f3f4f6;
    }

    &.active {
      background: #e8f2ff;
      font-weight: 600;
    }
  }
}
