<div class="layout">

  <!-- ================= SIDEBAR ================= -->
  <aside class="mini-sidebar">

    <div>
      <div class="logo">
        <img src="assets/logo.png" alt="logo">
      </div>

      <div class="menu-list">
        <div
          class="menu-item"
          *ngFor="let m of items"
          (click)="toggleDropdown(m.label!, m)"
          [class.active]="isActive(m)"
        >
          <!-- SVG icon -->
          <img *ngIf="m['svg']" [src]="m['svg']" class="icon" alt="icon">

          <!--          <span class="label">{{ m.label | translate }}</span>-->
        </div>
      </div>
    </div>


    <!-- SIDEBAR FOOTER -->
    <div class="side-footer">
      <div class="mode-btn">
        <button>
          <img src="assets/icons/mode_icon.svg" alt="Mode Icon">
        </button>
      </div>

      <button class="profile-btn">
        <img src="assets/icons/profile_icon.svg" alt="Profile Icon">
      </button>
    </div>


  </aside>


  <!-- ================= MAIN AREA ================= -->
  <div class="main">

    <!-- HEADER -->
    <header class="grid grid-cols-3 items-center justify-between w-full p-2">

      <!-- LEFT -->
      <div class="pl-4">
        <div class="text-[16px] font-[400] ">{{ 'app.main' | translate }}</div>
        <div class="text-[28px] font-[600] leading-8">{{ 'app.header' | translate }}</div>
      </div>

      <!-- CENTER -->
      <div class="flex justify-center">
        <div class="pill ">
          <div>
            <img src="assets/icons/mchj.svg" alt="Yuklsalish Avto MChJ">
          </div>
          <div>
            <h3 class="pill-title uppercase">{{'app.llc' | translate}}</h3>
            <span class="pill-desc">308 123 489</span>
          </div>
        </div>

      </div>

      <!-- RIGHT -->
      <div class=" flex items-center justify-end lg:pr-8 ">

        <div class="flex items-center  justify-center">
          <app-language-switcher />
        </div>


        <!-- SEARCH BOX -->
        <div class="search-box ml-0">
          <i class="pi pi-list"></i>
          <input placeholder="Qidiruv"/>
          <i class="pi pi-search"></i>
        </div>

        <!-- BELL -->
        <i class="pi pi-bell bell mx-2"></i>

        <!-- LOGOUT BUTTON -->
        <!--        <button class="logout-btn" (click)="logout()">-->
        <!--          <i class="pi pi-sign-out"></i>-->
        <!--        </button>-->

      </div>
    </header>


    <!-- CONTENT -->
    <main class="content">
      <app-content></app-content>
    </main>

  </div>

</div>
