
.table-style-v1 th {
  background-color: color-mix(in srgb, var(--p-primary-color), transparent 70%);
  border-right: 1.5px dashed  var(--p-primary-color) !important;
  border-bottom: 1.5px dashed  var(--p-primary-color) !important;
}

.table-style-v1-row2 th {
  height: 27px;
  background-color: #EDF3FF !important;
  border-right: none !important;
  color: var(--primary-color) !important;
  border-bottom:none !important;
  text-align: center !important;
}
.table-style-v1 td {
  border-left: none;
  border-right: none;


}
.table-style-v1 td div {
  padding: 2px 0 !important;
  color: #303c5c ;
}

/* Agar primary color Tailwind'da to'g'ri ishlamasa */
::ng-deep .text-primary,
::ng-deep .pi.text-primary {
  color: var(--p-primary-color) !important;
}
.w-full-fileupload {
  border: 1px solid yellow;
}

.w-full-fileupload p-button[data-pc-section="host"] {
  width: 100% !important;
}
.w-full-fileupload p-button[data-pc-section="host"] .p-button-label {
  width: 100%;
  text-align: center;
}

.custom-dialog .p-dialog-content {
  background: #bec2c8 !important;
}

/* Dark mode */
body.dark .custom-dialog .p-dialog-content {
  background: #0F172A ;
  color: #E5E7EB;
}

.p-dialog {
  background-color: color-mix(in srgb, var(--p-primary-color), transparent 70%);
}

